<div id="site_background_animation">
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
  <div class="animation-circle"></div>
</div>
